 <!-- Code adapted from https://pythonspot.com/flask-web-forms/ -->

<!DOCTYPE html>
<html>
    <head>
        <title>What is the Win Expectancy</title>
    </head>
    <body>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/search31.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <meta name="viewport" content="width = device-width, initial-scale =1.0"/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        {{ message[1] }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf }}
            <div class="columns">
            <div class="nothing1">
                <p></p>
            </div>
            <h2>Before</h2>
            <div class="form-group-before">
              <label for="b_team_home">Home Team: </label>
              <input type="text" class="form-control" id="b_team_home" name="b_team_home">
              <br><br>
              <label for="b_team_away">Away Team: </label>
              <input type="text" class="form-control" id="b_team_away" name="b_team_away">
              <br><br>
              <label for="b_home_score">Home Score: </label>
              <input type="text" class="form-control" id="b_home_score" name="b_home_score">
              <br><br>
              <label for="b_away_score">Away Score: </label>
              <input type="text" class="form-control" id="b_away_score" name="b_away_score">
              <br><br>
              <label for="b_inning">Inning: </label>
              <input type="text" class="form-control" id="b_inning" name="b_inning">
              <br><br>
              <label for="b_category">Category: </label>
              <select name="b_top_bot">
                 <option value="Top">Top</option>
                 <option value="Bot">Bottom</option>
              </select>
              <br><br>
              <label for="b_outs">Outs: </label>
              <input type="text" class="form-control" id="b_outs" name="b_outs">
              <br><br>
              <input type="checkbox" class="form-control" name="b_on_1b">Runner on 1st<br>
              <input type="checkbox" class="form-control" name="b_on_2b">Runner on 2nd<br>
              <input type="checkbox" class="form-control" name="b_on_3b">Runner on 3rd<br>

              <br>
            </div>
            <h2>After</h2>
            <div class="form-group-before">
              <label for="home_score">Home Score: </label>
              <input type="text" class="form-control" id="home_score" name="home_score">
              <br><br>
              <label for="away_score">Away Score: </label>
              <input type="text" class="form-control" id="away_score" name="away_score">
              <br><br>
              <label for="outs">Outs: </label>
              <input type="text" class="form-control" id="outs" name="outs">
              <br><br>
              <input type="checkbox" class="form-control" name="on_1b">Runner on 1st<br>
              <input type="checkbox" class="form-control" name="on_2b">Runner on 2nd<br>
              <input type="checkbox" class="form-control" name="on_3b">Runner on 3rd<br>

              <br>
            </div>
            <div class="nothing2">
                <!-- <img src="/static/imj/form_use.png"> -->
                <p></p>
            </div>

          </div>
            <div class="inputSubmit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>
